# For Ruby on rails projects
custom_plan.rb
zeus.json
.pryrc
config/database.yml
ideas/

# In various projects, this is a personal dev folder
lib/dev/
lib/tasks/dev/

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes